{%extends 'templates/layout.html' %}
{% block content %}

<div class="container">

<h1 align ="center" style="margin:30px;"> KEPCO RS485 SIMULATOR </h1> 

<div id="scope-parent" class="csOscope" align="center">
	<canvas align="center" id="scope" class="scope-canvas" width='700' height='200'></canvas>
</div>
<div id="table">
<table align="center" >
	<tr text-align="center">
		<td align = "center" height = "50" width="25%">Current[A]</td>
		<td align = "center" height = "50" width="25%">Volatage[V]</td>
		<td align = "center" height = "50" width="25%">Pressure[mpa]</td>
		<td align = "center" height = "50" width="25%">InputState</td>
	</tr> 
	<tr>
		<td> <canvas id="gauge1" class='cssGauge' data-type="radial-gauge" data-value-box="false" data-width="193" data-height="193"></canvas> </td>
		<td> <canvas id="gauge2" class='cssGauge' data-type="radial-gauge" data-value-box="false" data-width="193" data-height="193"></canvas> </td>
		<td> <canvas id="gauge3" class='cssGauge' data-type="radial-gauge" data-value-box="false" data-width="193" data-height="193"></canvas> </td>
		<td> <canvas id="gauge4" class='cssGauge' data-type="radial-gauge" data-value-box="false" data-width="193" data-height="193"></canvas> </td>
	</tr> 
	<tr>
		<td id="currentValue" align = "center" height = "50" width="25%">123</td>
		<td id="voltValue" align = "center" height = "50" width="25%">456</td>
		<td id="pressValue" align = "center" height = "50" width="25%">789</td>
		<td id="dcState" align = "center" height = "50" width="25%">aaa</td>
	</tr> 
	<tr>
		<td align = "center">
			<button class='w3-button w3-round w3-red'    onclick='btnReadCurrent()'>Read Current </button>
		</td>
		<td align = "center">
			<button class='w3-button w3-round w3-green'  onclick='btnReadVoltage()'>Read Voltage </button>
		</td>
		<td align = "center">
			<button class='w3-button w3-round w3-blue'   onclick='btnReadPressure()'>Read Pressure </button>
		</td>
		<td align = "center">
			<button class='w3-button w3-round w3-yellow' onclick='btnReadDCState()'>Read DC State </button>
		</td>
	</tr> 
</table>
</div>

<div align = "center" class='tail' style="margin:20px">
		<span class="title1 titleName"> RS485 SIMULATOR by Dong-Ho Power Electronic ( T.E.L.82-51-262-7532 :: Mobile 010-3027-4445 ) </span>
</div> <!-- tail-->

<script>

function btnReadCurrent(){
	socket.emit('readSensor',1);
}
function btnReadVoltage(){
	socket.emit('readSensor',2);
}
function btnReadPressure(){
	socket.emit('readSensor',3);
}
function btnReadDCState(){
	socket.emit('readSensor',4);
}

var count = 0;
var graphCount = 0;

var countVolt = 0;
var countCurrent = 0;
var countPress = 0;
var countInput =0;

socket.on('rs485',function(msg){

	var msg2 = msg.data;
	var msg1 = msg.ch;
	var gaugeValue = 0;

	console.log( 'ch :'+ msg1 + ' : ' + 'data : ' + msg2);

	if( msg2[0] == 'O'){
		gaugeValue = 200;
	} else if ( msg2[0] == 'C'){
		gaugeValue = 0;
	} else {
		gaugeValue = msg2/10;
	}
		
	if(msg1 == 81){ 		//'A'
	   countCurrent = ( countCurrent < 598 ) ? countCurrent + 1 : 0 ;
		document.getElementById('currentValue').innerHTML = gaugeValue;
		$('#gauge1').attr('data-value', gaugeValue);
	   scopeData[0].sample[countCurrent] = gaugeValue;
		scope.onPaint(scopeData);
	} else if(msg1 == 97){
	   countVolt = ( countVolt < 598 ) ? countVolt + 1 : 0 ;
		document.getElementById('voltValue').innerHTML = gaugeValue;
		$('#gauge2').attr('data-value', gaugeValue);
	   scopeData[1].sample[countVolt] = gaugeValue;
	} else if(msg1 == 113){
	   countPress = ( countPress < 598 ) ? countPress + 1 : 0 ;
		document.getElementById('pressValue').innerHTML = msg2;
		$('#gauge3').attr('data-value', gaugeValue);
	   scopeData[2].sample[countPress] = gaugeValue;
	} else if(msg1== 55){
	   countInput = ( countInput < 598 ) ? countInput + 1 : 0 ;
		document.getElementById('dcState').innerHTML = gaugeValue;
		$('#gauge4').attr('data-value', gaugeValue);
	   scopeData[3].sample[countInput] = gaugeValue;
	}
});	

setInterval(function(){
	count = ( count < 998 ) ? count = count +1 : 0;
	var cmd = ( count % 3 + 1 );
	socket.emit('readSensor',cmd);
	// socket.emit('readSensor',3);
},1000);

</script>
{% endblock %}
